.book__details {
  margin: 3rem;
  display: grid;
  grid-template-columns: minmax(250px, 400px) 1fr;
  grid-gap: 2rem;
  align-items: center;
  justify-content: center;
  text-align: left;

  /* Adjustments for responsiveness */
  @media screen and (max-width: 769px) {
    margin: 1rem 5vw;
    grid-template-columns: 1fr;
  }
}

.book__details__image-container {
  width: 100%;
  max-width: 400px;
  border: 8px solid #000; /* Add border to the book cover */
  border-radius: 8px;
  animation: fade-in-left 0.5s ease-in-out forwards;
}

.book__details__content {
  display: flex;
  flex-direction: column;
  border: 1px solid #00000074;
  border-radius: 8px;
  gap: 1.5rem;
  animation: fade-in-right 0.6s ease-in-out 0.4s forwards;
}

.book__details__title {
  font-size: 2rem;
  font-weight: 800;
  color: #333;
  text-align: center; /* Center the book name */
  margin-bottom: 0.5rem;
  margin-top: 1rem;
}

.book__details__id,
.book__details__author {
  font-size: 1.2rem;
  text-align: center; /* Center the author name and ISBN */
}

.book__details__description {
  border: 1px solid #ccc;
  margin-left: 1rem;
  margin-right : 1rem;
  padding: 1.5rem;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.card__cart {
  background-color: #f31559;
  border-radius: 2rem;
  color: white;
  transform: scale(0.95); /* Slightly reduce zoom-out effect */
}

.card__borrow {
  background-color: #f0de36;
  border-radius: 2rem;
  color: #333;
}

.card__cart:hover,
.card__borrow:hover {
  transform: scale(1);
}

.card__cart:active,
.card__borrow:active {
  transform: scale(0.9);
}

.inMyBooks {
  background-color: #e71ccff6;
  color: white;
}

.inCart {
  background-color: #cdcdcd;
}

/* Additional Styles for Mobile View */
@media screen and (max-width: 769px) {
  .book__details__description {
    width: 100%;
    max-width: 90vw;
    margin: 0 auto;
  }
}
