.book__details{
    margin: 3rem ;
    display: grid;
    grid-template-rows: max-content;
    grid-template-columns: max-content 1fr;
}
.book__details__image-container{
    margin-right: 1rem;
    width: 400px;
    animation: fade-in-left 0.5s ease-in-out forwards;
}
.book__details__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 1rem;
    transform: translateX(300%);
    animation: fade-in-right 0.6s ease-in-out 0.4s forwards;
    
}
.book__details__title{
    font-size: 1.5rem;
    font-weight: 800;
}
.book__details .card__buttons{
    margin: 1rem 2rem;
    gap: 2rem;
    color: white;
    font-weight: 800;
}
.book__details .card__borrow,.book__details .card__cart{
    max-width: 10rem;
    height: 100%;
    border-radius: 1rem;
    padding: 1rem;
    font-size: 1.2rem;
}
.book__details .card__cart{
    font-size: 0.6rem;
    background-color: #F31559;
    border-radius: 2rem;   
}
.book__details .card__borrow{
    font-size: 0.7rem;
    background-color: #F0DE36;
    border-radius: 2rem;
}
.book__details .inMyBooks{
    background-color: #e71ccff6;
    color: white;
}
.book__details .card__borrow:hover,.book__details .card__cart:hover{
    scale: 1.1;
}
.book__details .card__borrow:active,.book__details .card__cart:active{
    scale: 0.8;
}
.book__details .inCart{
    background-color: #cdcdcd;
}
@media screen and (max-width: 769px){
    .book__details{
        margin: 1rem 5vw;
        grid-template-columns: 90vw;
        grid-template-rows: max-content 1fr;
        text-align: center;
        align-items: center;
        justify-items: center;
        gap: 2rem;
    }
    .book__details__content{
        align-items: center;
        animation: fade-in-up 2s ease-in-out 1s forwards;
    }
    .book__details__description{
        width: 70vw;
    }
    .book__details__image-container{
        margin-right: 1rem;
        width: 250px;
        animation: fade-in-up 2s ease-in-out forwards;
    }
    .book__details .card__cart{
        font-size: 0.5rem;
    }
}